#selectorPage {
  margin: 0 auto;
  text-align: center; }

#favoritesPage {
  margin: 0 auto;
  text-align: center; }

body {
  margin: 0;
  padding: 0; }

.topNavLink {
  text-decoration: none;
  color: #9d9d9d; }

.topNavLink:hover {
  color: white;
  text-decoration: none; }

.selectorRow {
  overflow: hidden; }

.gridMain {
  margin: 0;
  padding: 0; }

.thumbnail {
  border: 0 !important; }

.favButtons {
  color: black;
  background-color: transparent;
  border: 0; }
